netcore ignores client certificate when using TLS 1.2

I am trying to communicate with a mutual authentication web service. 

When i use tls 1.1 it works perfectly but if i use tls 1.2 the certificate is ignored. i was able to see this with wireshark.

The certificate is valid, has private key and signature has algorithm is sha512RSA (i have tried other certificates with other signature algorithms like sha256 and is working fine)







Can you provide what binding you are using? With the TLS protocol the server must request the client certificate so it's doubtful that the client certificate not being sent is a client side problem.  
What stack is on the server side? Is it WCF? CoreWCF? Something else like WebSphere?

The server is a Web service with mutual auth with WSDL definition. 

This code in .net core works but is required to use TLS 1.2:

        var handler = new HttpClientHandler();
        handler.ClientCertificateOptions = ClientCertificateOption.Manual;
        handler.SslProtocols = SslProtocols.Tls11;
        handler.ClientCertificates.Add(certificate);

        var httpClient = new HttpClient(handler);
        string soapUI = "<soap:Envelope xmlns:soap=........................................";
        var mediaType = "application/soap+xml"; 

        var content = new StringContent(soapUI, Encoding.UTF8, mediaType);
        var response = httpClient.PostAsync(url, content).Result;

The client certificate has some properties :
![image](https://user-images.githubusercontent.com/130100505/231219220-dbe755b6-129e-493c-aabf-323949863e24.png)



I'm not familiar with the software stack "Web service SOAP", can you provide a link to that framework/library?

After a lot of testing and reserarch i think there is something wrong in the TLS 1.2 Handshake. 

This particular server makes a Certificate Request and specifies a list of the hash/signature algorithm pairs that the server is
 able to verify (according to rfc5246)

![image](https://user-images.githubusercontent.com/130100505/232114137-4940f75a-ea26-49f6-b4ea-d6582c5db7d4.png)

sha512 RSA is not pressent in the list. And i think this is the reason why .net does not include the Certificate Verify message. 

There is a way to force it to use sha 256 RSA algorithm with a sha 512 certificate? 



I found a similar issue but the solution is not right for me

https://stackoverflow.com/questions/45725461/how-to-ignore-signature-hash-algorithm-requested-by-server-during-tls1-2-handsha



According to section 7.4.4 of RFC 5246:
>   -  Any certificates provided by the client MUST be signed using a hash/signature algorithm pair found in supported_signature_algorithms.

Sending a certificate using RSA/SHA512 when the server has said it can only verify SHA256 is a non-conforming TLS stack. The requirement is a MUST and not a SHOULD so there's no wiggle room here.  

A correct server stack should reject that certificate, and a correct client stack shouldn't send it as doing so is a protocol violation. I had a quick look at SOAP UI (it's open source) and looks like it runs on OpenJDK. As best as I could find, OpenJDK has its own SSL/TLS stack and doesn't use the OS one. I believe SOAPUI is working as a side effect of running on a runtime with a non-conforming TLS stack which is sending the certificate when it shouldn't. Your certificate should fail on all stacks, not just on .NET.  

As .NET uses the Windows SCHANNEL library to handle the TLS handshake, I'm pretty confident the behavior isn't going to be changeable in the .NET stack, at least on Windows (on Linux I believe it uses OpenSSL). The only things which I can think of which would work are to either contact the owner of the server and have them configure their system to include RSA/SHA512 in the set of supported certificates, or obtain a new certificate yourself which uses RSA/SHA256 (or DSA/SHA256 or ECDSA/SHA256) to match what was requested by the service.

Looks like supported_signature_algorithms for the certificate with SHA 512 includes rsa_pkcs1_sha256...

I was able to make a succesfull TLS Handshake with the same netCore client to a diferent server (just like SOAPUI does), i had to remove some signature suites from a key of the registry.

Wireshark says malformed packet so I can't see the difference between the request from the server that has the problem and this one

The client code is excalcy the same, with the server that has the problem, the client sends the certificate with zero length and does not send the Cerificate Verify message:

![image](https://user-images.githubusercontent.com/130100505/232892251-7b7230a0-1860-466e-a28d-4ba53b54f53f.png)


There must be another reason why my .net client sends the certificate with zero lengh and does not send the cerificate verify message





You've hit the limit of my knowledge of the TLS stack in Windows. But luckily as your sample code above is using HttpClient raw (not using WCF), this is easier to hand over to the networking team in the runtime repo. I'm going to transfer this issue there and hopefully the subject area experts can provide more insight.